@use '/src/styles/base/' as b;
@use '/src/styles/abstract/' as g;





.nav {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &__head {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;

        &___close {
            display: none !important;
        }

        &___open {

        }
    }

    & , &__nosub {
        font-family: b.$nav-title-font;
        font-style: b.$nav-title-font;
        color: g.$nav-title-color;
        font-size: 1.5em;
        
    }
}