/*  SIZE    */
$header-h:60px;
$min-width: 55em;


/* BASE COLORS  */

$white :var(--white) ;
$black : var(--black);
$gray-light-extra :var(--gray-light-extra);
$gray-light :var(--gray-light);
$gray :var(--gray);
$gray-dark :var(--gray-dark);
$gray-dark--extra :var(--gray-dark--extra);
$green-1 :var(--green-1);
$green-2 :var(--green-2);
$green-3 :var(--green-3);
$green-4 :var(--green-4);
$green-5 :var(--green-5);
$blue-1 :var(--blue-1);
$blue-2 :var(--blue-2);
$blue-3 :var(--blue-3);
$blue-4 :var(--blue-4);
$blue-5 :var(--blue-5);

/*  ATR COLORS  */


$blue-4 :var(--blue-4);
$text-color : var(--text-color);
$background-color : var(--background-color);
$light-shadow:var(--light-shadow);
$basic-shadow:var(--basic-shadow);
$dark-shadow:var(--dark-shadow);
$search-gray:var(--search-gray);
$nav-title-color: var(--nav-title-color);
$button-check : var(--button-check);
$reverse-text-color : var(--reverse-text-color);