@use './override';
@use './base' as b;
@use './abstract' as g;
@use './components';
@import './theme';






html {


  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
    background-color: g.$background-color;
  
  
  }
}


