
@use '/src/styles/abstract/' as g;

.form {

    background-color: g.$white;
    border-radius: 0px 0px 100% 100% / 0px 0px 50px 50px;



    &.isActive {
        & > .icon {
            display: none !important;
        }
        height: 70%;
    } 

    &.isNotActive {
        & *:not(.icon, h2) {
            display: none !important;
        }
        height: 30%;

    } 

    .forgotPwd {
        text-align: center;
        cursor:pointer;
    
        span {
            text-decoration: underline g.$green-1 2px;
    
        } 
    }
    
}