@use '/src/styles/abstract/' as g;
@use '/src/styles/base/' as b;

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: b.$nav-title-font;
    font-style: b.$nav-title-font;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 1000px;

    article, .cardEditor, .quillResource {
        min-height: 510px;
    }
    .cardEditor {
        width: 300px;
        padding: 20px;
        justify-content: space-around;
        input,button,label,select,fieldset {
            font-size: 1em;
            width:90%;
        }

        input,select {
            border-radius: 5px;
        }
        fieldset {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            legend {
                    margin: 5% 0;
                }
            div {
                display: flex;
                align-items: center;
                padding: 0 2%;

                input {
                    margin-right: 5px;
                }
            }
        }

    }

    .editor {
        width: 0!important;
        height: 0 !important;
        overflow: hidden;
        position: absolute;
        top:0;
        left: 0;
    }

    .quillResource {
        width: 610px;
        flex-direction: column;
        height: max-content;
        align-items: center;
        justify-content: flex-start;

    }
}