:root {
  /* Your default theme */


  --white: #fff;
  --black: #000;
  --gray-light: #ebebeb;
  --gray: #e6e6e6;
  --gray-dark: #b3b3b3;
  --green-1:#77e58a;
  --green-2:#2de0ba;
  --green-3:#25b99a;
  --green-4:#47665f;
  --green-5:#273f49;
  --blue-1:#25eaf7;
  --blue-2:#24aced;
  --blue-3:#117bad;
  --blue-4:#496a7a;
  --blue-5:#212a2e;

  --text-color: var(--black);
  --nav-title-color: var(--green-5);
  --background-color: var(--white);
  --light-shadow : var(--gray-light);
  --search-gray: var(--gray)


  
}

[data-theme='dark'] {
  --background-color: var(--blue-5);
  --text-color: var(--green-5);
  --light-shadow : var(--blue-4);
  --search-gray: var(--gray-light);


}